<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no" />
<title>${props.title}</title>
<meta name="keywords" content="${props.keywords}" />
<meta name="description" content="${props.description}" />
<meta name="author" content="MyPreview" />
<meta name="copyright" content="© 2015 - 2022 MyPreview. All Rights Reserved." />
<meta property="og:locale" content="en_US">
<meta property="og:type" content="website">
<meta property="og:site_name" content="Plugin name">
<meta property="og:title" content="${props.title}">
<meta property="og:description" content="${props.description}">
<meta property="og:url" content="https://mypreview.github.io/plugin-name/${props.slug}">