<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flickity@3.0.0/dist/flickity.pkgd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/tabslet@1.7.3/jquery.tabslet.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-migrate@3.3.2/dist/jquery-migrate.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/jquery-form/form@4.3.0/dist/jquery.form.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/ok-details@1.0.0/details-shim.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/gh/dobarkod/cookie-banner@1.2.2/dist/cookiebanner.min.js"
	id="cookiebanner"
	data-position="bottom"
	data-message="We serve cookies on this site to analyze traffic, remember your preferences, and optimize your experience."
	data-bg="ffffff"
	data-font-family="inherit"
	data-text-align="left"
	data-height="auto"
	data-link="#96588a"
	data-linkmsg="Learn more &#8618;"
	data-moreinfo-decoration="underline"
	data-fg="3c3c3c"
	data-effect="fade"
	data-expires="604800"
	data-cookie-secure="true"
	data-close-text="Accept"
	data-close-style="font-weight: 500; border-radius: 4px; padding: 5px 16px; display: inline-flex; border: 1px solid #e6e6e6; order: 2; color: #96588a; background-color: #fff; margin: 7px 8px;"
></script>
<script src="${props.cwd}js/script.min.js"></script>