<footer class="footer content-wrapper padding-inline-normal padding-top-60 tablet-text-center">
   <hr/>
   <div class="footer__content color-light padding-block-normal">
      <div>
         <p>
            © 2015 - <span id="current-year"></span> MyPreview. All Rights Reserved.
         </p>
         <p class="small">Trademarks and brands are the property of their respective owners.</p>
      </div>
      <div>
         <img width="350" alt="payment icons" src="${props.cwd}assets/images/payment-icons.svg" />
      </div>
   </div>
</footer>