<header class="header background-dark color-tile has-color">
   <div class="header__content content-wrapper padding-inline-normal padding-block-small">
      <a class="header__brand" href="${props.cwd}">
         <img alt="brand name logo" width="135" src="${props.cwd}assets/images/logo.svg" />
         <span class="hide-visually">Brand name</span>
      </a>
      <nav class="main-navigation">
         <ul class="list-style-line list-style-none">
            <li class="hide-on-mobile">
               <a href="${props.cwd}docs">Docs</a>
            </li>
            <li class="hide-on-mobile">
               <a href="${props.cwd}CHANGELOG.txt" data-fancybox data-type="iframe" data-src="${props.cwd}CHANGELOG.txt">Changelog <span class="badge">v1.0.0</span></a>
            </li>
            <li>
               <a href="${props.cwd}#pricing" class="button button--success button--medium">Purchase Now</a>
            </li>
         </ul>
      </nav>
   </div>
</header>