:root {
    --color--primary: #96588a;
   	--color--secondary: #71b02f;
    --color--secondary-alt: #588b22;
    --color--background: #f8f9fa;
    --color--tile: #ffffff;
    --color--dark: #3c3c3c;
    --color--darker: #333333;
    --color--light: #adb5bd;
    --color--badge: #6e6e6e;
    --color--border: #e9ecef;
    --radius--medium: 4px;
    --font-family--primary: Rubik, sans-serif;
    --font-weight--normal: 400;
    --font-weight--bold: 500;
}

